/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (min-width: 769px) {

    button.wen .fa-magnifying-glass {
        display: none;

    }

    button.wen {
        width: 132px;
        border: none;
        background-color: var(--main-color);
        color: white;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        cursor: pointer;
    }

    button.wen:active {
        background-color: blue;
    }
}
@media (min-width: 1441px) and (max-width: 1900px) {

    .hebergements-and-populaires section {
        padding-left: 35px;
        padding-right: 35px;
    }

}

@media (min-width: 1400px) and (max-width: 1440px) {

    .hebergements-and-populaires section {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media (min-width: 1230px) and (max-width: 1400px) {

    /* modification hébergement */

    .contenaire-hebergements-one {
        gap: 25px;
    }

    .card-title {
        font-size: 16px;
    }

    img.image-hebergements {

        min-height: 60px;

    }

    .card-hebergements {
        width: 16vw;
    }
}



@media (min-width: 1025px) and (max-width: 1229px) {


    /* modification hébergement */

    .container-hebergements {
        padding-left: 10px;
        width: 95%;
    }

    img.image-hebergements {
        height: 55%;
    }

    .contenaire-hebergements-one {
        gap: 20px;

    }

    .card-hebergements {
        width: 16vw;
        height: 220px;
    }


    .card-title {
        line-height: 1;
    }

}

@media (min-width: 1025px) and (max-width: 1125px) {

    .specificity {
        line-height: 18px;
        margin-top: 6px;
        margin-bottom: -7px;
    }

    .specificity-subtitle {
        margin-bottom: 15px;
    }

}

/*Tablette*/

@media (max-width: 1024px) {

    /*header*/

    header {
        margin-bottom: 30px;

    }

    .section-500 {
        padding-top: 25px;
    }

    /*buttons filters*/

    form {
        margin-bottom: 15px;
    }

    .filters-button {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .button {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* Hebergements And Populaires  */
    .hebergements-and-populaires {
        flex-direction: column;
        margin-top: 30px;
    }


    /* hebergement */

    .contenaire-hebergements-one {

        gap: 25px;
    }

    .hebergements {
        width: 100%;
    }

    .card-hebergements {
        width: 25vw;
    }

    /* populaire */

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /* activites */

    .container-activites {
        display: flex;
        height: 70px;
        align-items: center;
    }

    .image-rounded {
        height: 200px;
    }
}

/*réteceissement*/
@media (max-width: 910px) and (min-width: 769px) {


    /* Hebergements  */

    .container-hebergements {
        padding-top: 15px;
        padding-left: 10px;
    }

    .contenaire-hebergements-one {
        gap: 18px;
    }

    .card-title {
        margin: 0px;
        line-height: 15px;
    }

    .card-hebergements {
        width: 24vw;
        height: 240px;

    }

    /*filters*/

    .checkmark {
        width: 150px;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 768.98px) {

    body {
        width: 100%;
        max-width: 100%;
    }

    header {
        margin-bottom: 110px;
    }

    /*Nav logo+hebAct*/


    .navigation {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    ul.menu {
        gap: 0;
        padding: 20px 0;
        width: 100%;
    }

    .menu-item:hover {
        color: var(--main-color);
        border-bottom: var(--main-color) 3px solid;
        border-top: none;
    }

    .menu-item {
        padding-bottom: 15px;
        border-bottom: 3px var(--main-bg-color) solid;
        text-align: center;
        margin: 0;
        width: 50%;
        border-top: none;
    }

    .search {
        line-height: 1;
    }

    /* filters */

    .checkmark {
        width: 100%;
    }

    .checkbox-container {
        width: 45vw;

    }

    .button {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;

    }

    .main-container {
        width: 100%;
        padding: 0 0px;
        box-sizing: border-box;
        max-width: 100%;
    }


    .section-500 {
        padding: 0px;
        margin-top: 23px;
    }

    /*marseille Recherche*/

    input {

        width: 86vw;
    }

    .wen {
        border-color: transparent;
        width: 49px;
        height: 49px;
        background-color: var(--main-color);
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 0px 0px 0px -30px;
        cursor: pointer;
    }

    button.wen .fa-magnifying-glass {
        color: white;
    }

    .wen:active {
        background-color: blue;
    }

    button.wen .text {
        display: none;
    }

    /*mixe pop+heb*/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 1px;
        box-sizing: border-box;
        padding-bottom: 30px;
        padding-top: 30px;
        margin-top: 0px;
        padding-left: 34px;
        padding-right: 34px;
    }

    /*hebergement*/

    .hebergemmentContenaire {
        gap: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    section.hebergements {
        background-color: white;
    }

    .card-rating-hebergement {
        padding-top: 119px;
    }

    img.image-hebergements {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        height: 100%;
        width: 33%;
        object-fit: cover;
    }

    .card-hebergements {
        width: 88vw;
        height: 207px;
        flex-direction: row;
    }

    .contenaire-hebergements-one {
        flex-direction: column;
        align-items: center;
        margin: 0px 24px;
        gap: 15px;
    }

    h3.title-Afficherplus {
        margin: 0px;
        padding-top: 10px;
    }

    /*populaire card*/

    .populaires-cards a {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        
    }

    .populaires-cards {
        flex-direction: column;
        background-color: var(--main-bg-color);
        padding-top: 15px;
        gap: 15px;
    }

    .populaires-title {
       
    }

    .populaires-cards .card {
        width: 88vw;

    }

    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }


    /*Activités*/

    section#activitesMarseille {
        margin: 0px 68px;
        margin-top: 40px;
    }


    .activites {
        flex-direction: column;
        gap: 15px;
        padding-top: 30px;
    }

    .card-activites {
        width: 80vw;
    }

    .container-activites {
        height: 59px;
    }

    .image-rounded {
        height: 141px;
    }


    /*footer*/

    article.footer {
        width: 100%;
    }

    .footer-flex {
        gap: 15px;
        flex-direction: column;
    }

}

@media (max-width: 665px) and (min-width: 550px) {

    /* HEADER */

    header {
        margin-bottom: 120px;
    }

    /* FILTRES */

    .checkbox-container {
        width: 44vw;

    }

    .hebergements-and-populaires section {
        padding-left: 28px;
        padding-right: 28px;
    }
    /*Activités*/

    section#activitesMarseille {
        margin: 0px 59px;
        margin-top: 40px;
    }
}


@media (max-width: 549px) and (min-width: 475px) {

    /* HEADER */
    header {
        margin-bottom: 10px;
    }

    /* FILTRES */

    .checkbox-container {
        width: 43vw;

    }

    /*recherche*/

    .section-500 {

        padding-top: 0px;
    }

    .hebergements-and-populaires section {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* hebergement */


    .card-rating-hebergement {
        padding-top: 119px;
    }


    .navigation {
        height: 400px;
    }


    /* filters */

    .checkmark {
        width: 125vw;
    }

    /*Activités*/

    section#activitesMarseille {
        margin: 0px 40px;
        margin-top: 40px;
    }
}

@media (max-width: 474px) and (min-width: 376px) {

    /* header */

    header {
        margin-bottom: 130px;
    }


    .section-500 {
        max-width: 95vw;
        margin-right: 0px;
        padding: 0px;
    }

   
    /* filtre */

    .button {

        gap: 12px;

    }

    .checkmark {
        width: 90vw;
    }

    .checkbox-container {
        width: 41vw;
    }

    /* hebergement */

    .card-rating-hebergement {
        padding-top: 0px;
    }

    .card-hebergements {
        flex-direction: column;
        width: 83vw;
    }

    img.image-hebergements {

        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        height: 117px;
        width: 100%;
    }


    /*Populaires*/
    .populaires-cards .card {
        width: 83vw;
    }

    /*Activités*/

    section#activitesMarseille {
        margin: 0px 30px;
        margin-top: 40px;
    }

}


@media (max-width: 375px) {


    header {

        margin-bottom: 10px;
    }

    /*FILTRES*/

    .button {
        gap: 20px;
    }

    .checkbox-container {
        width: 41vw;
    }

    /*recherche*/

    input {
        width: 70vw;
    }

    /*Nav logo+hebAct*/

    .navigation {
        height: 380px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /*mixe pop+heb*/

    .hebergements-and-populaires section {
        padding-top: 0px;
        margin-top: 30px;
        padding-left: 19px;
        padding-right: 19px;
    }


    /* POPULAIRE */
    .populaires-title {
        padding-top: 30px;
        
    }

    .populaires-cards .card {
        width: 83vw;
    }


    /*hebergement*/

    .card-rating-hebergement {
        padding-top: 0px;
    }

    .card-hebergements {
        flex-direction: column;
        width: 83vw;
    }

    img.image-hebergements {

        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        height: 117px;
        width: 100%;
    }

    /*Activités*/

    section#activitesMarseille {
        margin: 0px 30px;
        margin-top: 40px;
    }

}