/****** Styles généraux pour les icônes ***********/

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

html {
    font-size: 16px;

}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    
}

/*Paramètre encre dans la page*/
a {
    color: inherit;
    text-decoration: none;
}

/*Paramètre body for all*/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*HEADER*/

/*LOGO*/

section.logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

img#logo {
    padding-top: 30px;
    height: 19px;
}

/*Button Hébergement - Acttivites */

.menu-item:hover {
    color: var(--main-color);
    border-top: var(--main-color) 2px solid;
    position: relative;
}

.menu-item {
    position: relative;
    padding-top: 15px;
    border-top: 2px solid transparent;
}

ul.menu {
    margin: 0;
    display: flex;
    gap: 68px;
}

ul li {
    font-size: 16px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

/*General header*/

section.navigation {
    margin-top: 50px;
    display: grid;
    gap: 10px;
    height: 281px;
    padding-bottom: 50px;
}

/*Texte "trouvez votre hébergement"*/
section.search,
section#search {
    line-height: 10px;
    margin-bottom: 20px;
}

/****** Barre Marseille ******/
form {
    display: flex;
    height: 49px;
}

/*map*/

i.fa-solid.fa-location-dot {
    background: var(--main-bg-color);
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*zone text*/
#search::placeholder {
    color: black
}

input {
    border: 1px solid var(--main-bg-color);
    padding: 10px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    width: 190px;
}

/* filters */

section.filters-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button {
    display: flex;
    gap: 15px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.checkmark:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 100px;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.3s ease;
    gap: 10px;
}

.checkbox-container {
    display: inline-flex;
}

.checkbox-container input {
    display: none;

}

.checkbox-container input:checked+.checkmark {
    background-color: var(--filter-bg-color);
    color: rgb(0, 0, 0);
    border-color: var(--main-bg-color);
}

/*little text*/

#infobull {
    display: flex;
    border-radius: 100%;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.section-500 {
    gap: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

h3.title-sections {
    margin: 0px;
}

/****** Hebergements And Populaires ***********/

/*title for Activ-Heb-Pop*/

.section-title {
    margin: 0;
    font-size: 22px;
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.fa-solid,
.fa-location-dot {
    color: var(--main-color);
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

section.contenaire-hebergements-one {
    display: flex;
    gap: 33px;
    justify-content: center;
}

.card-hebergements {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 233px;
    height: 207px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column
}

.container-hebergements {
    line-height: 9px;
    padding-left: 15px;
}

img.image-hebergements {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    object-fit: cover;
}

h3.title-Afficherplus {
    margin: 0px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

/****** Activites ***********/

section#activitesMarseille {
    margin-top: 60px;
    margin-left: 28px;
    margin-right: 28px;
}

.activites {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    padding-top: 20px;

}

.card-activites {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    border-radius: 20px;
}

.image-rounded {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    object-fit: cover;
}

.container-activites {
    padding: 0px 0px 0px 16px;
}

.card-title {
    font-size: 16px;
}


#activites {
    text-decoration: none;
    color: lawngreen;
}


/****** footer ***********/

.footer-flex {
    display: flex;
    justify-content: stretch;
    gap: 15px;
    margin-top: 60px;
}

footer {
    background: var(--main-bg-color);
}

article.footer {
    width: 446px;
}

.footer-menu {
    padding: 0px 0px 0px 20px;
}

span.footer-link {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 15px 0px;
}




